gradle-wrapper.jar
/.gradle
# Alt modüllerde de oluşabiliyor (ör. android/app/.gradle).
**/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
**/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
